@model List<(Hotel Hotel, double HotelRating)>

<div style="background-color:#65cbeb" class="table-container">
    <h1 style="text-align:center">We have found these hotels just for you!</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Hotel ID</th>
                <th>Country</th>
                <th>City</th>
                <th>Distance to center</th>
                <th>Distance to the point of interest</th>
                <th>Point of interest</th>
                <th>Price</th>
                <th>Stars</th>
                <th>Accommodation Type</th>
                <th>Offer</th>
                <th>Predicted rating</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr onclick="location.href='/Hotel/Details/@item.Hotel.Id';" style="cursor: pointer;" class="row-hotels">
                    <td>@item.Hotel.Id</td>
                    <td>@item.Hotel.Country</td>
                    <td>@item.Hotel.City</td>
                    <td>@item.Hotel.DistanceToCenter</td>
                    <td>@item.Hotel.DistanceToPOI</td>
                    <td>@item.Hotel.POI</td>
                    <td>@item.Hotel.Price</td>
                    <td>@item.Hotel.Stars</td>
                    <td>@item.Hotel.AccommodationType</td>
                    <td>@item.Hotel.Offer</td>
                    <td>@item.HotelRating</td>
                </tr>
            }
        </tbody>
    </table>
</div>