@model HotelProject.Models.Hotel

<div class="table-container">
    <h1>Hotel Details</h1>

    <div class="row">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>Id:</dt>
                <dd>@Model.Id</dd>

                <dt>Country:</dt>
                <dd>@Model.Country</dd>

                <dt>City:</dt>
                <dd>@Model.City</dd>

                <dt>Distance To Center:</dt>
                <dd>@Model.DistanceToCenter</dd>

                <dt>Distance to point of interest:</dt>
                <dd>@Model.DistanceToPOI</dd>

                <dt>Point of interest:</dt>
                <dd>@Model.POI</dd>

                <dt>Price:</dt>
                <dd>@Model.Price</dd>
            </dl>
        </div>
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>Price Per Night:</dt>
                <dd>@Model.PriceNight</dd>

                <dt>Stars:</dt>
                <dd>@Model.Stars</dd>

                <dt>Accommodation Type:</dt>
                <dd>@Model.AccommodationType</dd>

                <dt>Is Offer:</dt>
                <dd>@Model.IsOffer</dd>

                <dt>Offer:</dt>
                <dd>@Model.Offer</dd>
            </dl>
        </div>
    </div>


    <div>
        @Html.Partial("_HotelRatingPartial", new { Id = Model.Id })
    </div>

    <p style="margin-top: 20px;">
        <a asp-action="Index">Back to List</a>
    </p>
</div>