@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Hotel>

<h1>Hotels</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th>City</th>
            <th>Address</th>
            <th>Price</th>
            <th>Stars</th>
            <th>Rooms</th>
            <th>CheckInTime</th>
            <th>CheckOutTime</th>
            <th>Amenities</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hotel in Model)
        {
            <tr onclick="location.href='/Hotel/Details/@hotel.Id';" style="cursor: pointer;">
                <td>@hotel.Name</td>
                <td>@hotel.Country</td>
                <td>@hotel.City</td>
                <td>@hotel.Address</td>
                <td>@hotel.Price</td>
                <td>@hotel.Stars</td>
                <td>@hotel.Rooms</td>
                <td>@hotel.CheckInTime</td>
                <td>@hotel.CheckOutTime</td>
                <td>@hotel.Amenities</td>
                <td>@hotel.Latitude</td>
                <td>@hotel.Longitude</td>
                <td>@hotel.Rating</td>
            </tr>
        }
    </tbody>
</table>

@*<h2>Claim details</h2>
<ul>
    @foreach (var claim in User.Claims)
    {
        <li><strong>@claim.Type</strong>: @claim.Value</li>
    }
</ul>*@

