@model X.PagedList.IPagedList<Hotel>


<div class="table-container">
    <h1>Hotels</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Country</th>
                <th>City</th>
                <th>Distance To Center</th>
                <th>Distance To point of interest</th>
                <th>Point of interest</th>
                <th>Price</th>
                <th>Stars</th>
                <th>Accommodation Type</th>
                <th>Offer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hotel in Model)
            {
                <tr onclick="location.href='/Hotel/Details/@hotel.Id';" class="row-hotels">
                    <td>@hotel.Id</td>
                    <td>@hotel.Country</td>
                    <td>@hotel.City</td>
                    <td>@hotel.DistanceToCenter</td>
                    <td>@hotel.DistanceToPOI</td>
                    <td>@hotel.POI</td>
                    <td>@hotel.Price</td>
                    <td>@hotel.Stars</td>
                    <td>@hotel.AccommodationType</td>
                    <td>@hotel.Offer</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="pagination">
        <partial name="_PagerPartial" model="@Model" />
    </div>
</div>

@*<h2>Claim details</h2>
<ul>
    @foreach (var claim in User.Claims)
    {
        <li><strong>@claim.Type</strong>: @claim.Value</li>
    }
</ul>*@

