@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model HotelProject.Models.UserProfile

<h1>User Profile</h1>

<div>
    <strong>Country:</strong> @Model.Country
</div>
<div>
    <strong>City:</strong> @Model.City
</div>
<div>
    <strong>Minimum Price:</strong> @Model.PriceMin
</div>
<div>
    <strong>Maximum Price:</strong> @Model.PriceMax
</div>
<div>
    <strong>Maximum Check-In Time:</strong> @Model.CheckInTimeMax
</div>
<div>
    <strong>Minimum Check-Out Time:</strong> @Model.CheckOutTimeMin
</div>
<div>
    <strong>Amenities:</strong> @Model.Amenities
</div>
<div>
    <strong>Rating:</strong> @Model.Rating
</div>
