@model X.PagedList.IPagedList<Hotel>

<div class="pager-container">
    @if (Model.HasPreviousPage)
    {
        <button onclick="location.href='@Url.Action("Index", new { page = 1, pageSize = Model.PageSize })'" class="pager-btn">First</button>
        <button onclick="location.href='@Url.Action("Index", new { page = Model.PageNumber - 1, pageSize = Model.PageSize })'" class="pager-btn">Previous</button>
    }
    else
    {
        <button class="pager-btn" disabled>First</button>
        <button class="pager-btn" disabled>Previous</button>
    }

    <span class="pager-info">Page @Model.PageNumber of @Model.PageCount</span>

    @if (Model.HasNextPage)
    {
        <button onclick="location.href='@Url.Action("Index", new { page = Model.PageNumber + 1, pageSize = Model.PageSize })'" class="pager-btn">Next</button>
        <button onclick="location.href='@Url.Action("Index", new { page = Model.PageCount, pageSize = Model.PageSize })'" class="pager-btn">Last</button>
    }
    else
    {
        <button class="pager-btn" disabled>Next</button>
        <button class="pager-btn" disabled>Last</button>
    }
</div>